@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ////////////////////////////////////////////////// */
/* // zone NavBar */ 
.Test{
  max-height: 40px;
}
.navbar {
    position: fixed;
    z-index: 100;
    right: 0;
    top: 20px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 30px;
    border: 1px solid var(--border-color);
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .nav-item {
    width: 100px;
    height: 40px;
  }
  
  .nav-link {
    width: 100px;
    height: 40px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    background-color: var(--element-background-color);
  }
  
  .nav-link:hover {
    background-color: var(--element-howevered-color);
    transition: 0.2s;
  }

/* ////////////////////////////////////////////////// */
/* // zone du ThemeSwitcher */ 
.switcher{
  position: relative;
  display: inline;
  width: 85px;
  height: 40px;
}
.switcher input {display: none;}

.slider{
  position: absolute;
  cursor: pointer;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--element-background-color);
  border-radius: 18px;
  border: 1px solid var(--border-color);
}

.slider:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  left: 5px;
  bottom: 5px;
  border-radius: 30px;
  transition: 0.4s;
  background-color: var(--secondary-text-color);

}

.slider:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  right: 7.5px;
  bottom: 7.5px;
  background-image: url('../svg/moon.svg');
  background-size: cover;
}

input:checked + .slider::before {
  transform: translateX(43px);
}
input:checked + .slider::after {
  transform: translateX(-42.5px);
  background-image: url('../svg/sun.svg');
}
/* ////////////////////////////////////////////////// */
/* // zone du SkillsGen */ 

.LangButton{
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: var(--element-background-color);
  border: 1px solid var(--border-color);
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: bold;
  margin-left: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.LangButton:hover {
  background-color: var(--element-howevered-color);
}

/* ////////////////////////////////////////////////// */
/* // zone du HamburgerNav */ 

.hamburger{
  opacity: 0;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid var(--border-color);
  background-color: var(--element-background-color);
}

.hamburger:hover{
  background-color: var(--element-howevered-color);
}

.HamburgerH2{
  margin-top: 11px;
  margin-right: 40px;
  color: var(--secondary-text-color);
}

.BlurHamburgerContent{
  pointer-events: none;
  position: fixed;
  z-index: 99;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.BlurHamburgerContent.blur-active {
  pointer-events: all;
  opacity: 1;
  right: 0;
}

.HamburgerMenuRow{
  display: flex;
  flex-direction: row;
}

.menu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: -100%; 
  width: 250px;
  height: 100vh;
  background: var(--not-background-color);
}

.menu.open {
  right: 0; /* Fait apparaître le menu */

}

.HamburgerStack.open{
  right: 10px;
  top: 10px;
}

.HamburgerStack{
  opacity: 0;
  pointer-events: none;
  top: 20px;
  right: 20px;
  position: fixed;
}

.HamburgerStyle{
  pointer-events: none;
  position: absolute;
  top: 7.5px;
  right: 10px;
}

.HamburgerBarre{
  pointer-events: none;
  margin-top: 4.5px;
  margin-bottom: 4.5px;
  width: 20px;
  height: 2px;
  background-color: var(--secondary-text-color);
  border-radius: 15px;
  transition: 0s;
}

.HamburgerBarreL{
  margin-top: 10px;
  pointer-events: none;
  width: 20px;
  height: 2px;
  margin-top: 4.5px;
  margin-bottom: 4.5px;
  background-color: var(--secondary-text-color);
  border-radius: 15px;
}
.HamburgerBarreR{
  width: 20px;
  height: 2px;
  margin-top: 4.5px;
  margin-bottom: 4.5px;
  background-color: var(--secondary-text-color);
  border-radius: 15px;

}

.HamburgerBarreL.open{
  position: fixed;
  z-index: 102;
  transform: rotate(-45deg);
  margin-top: 11px;
  margin-bottom: 0;
}

.HamburgerBarreR.open{
  position: fixed;
  z-index: 101;
  transform: rotate(45deg);
  margin-top: 11px;
  margin-bottom: 0;
}

.HamburgerBarre.open{
  visibility: hidden;
}

.HamburgerContentDirector{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 33px;
  margin-top: 50px;
}


.HamburgerNavLink {
  margin-top: 6px;
  margin-bottom: 6px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: var(--primary-text-color);
}

.HamburgerNavLink:hover{
  color: var(--secondary-text-color);
  transition: 0.2s;

}
/* ////////////////////////////////////////////////// */
/* // zone Du contactLinksGenerator */ 

.ContactLinksBody1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 70px;
  margin-left: 33px;
}

.ContactLinksBody2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 70px;
  margin-left: 33px;
}

.ContactLinks{
  opacity: 0;
  height: 20px;
  width: 70px;
  display: block;
  text-decoration: none;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: var(--secondary-text-color);
}

.ContactLinks a{
  text-decoration: none;
  color: var(--not-background-color);
}

.ContactLinks:hover {
  background-color: var(--primary-text-color);
}
/* ////////////////////////////////////////////////// */
/* // zone Du contactLinksGenerator */ 

.SkillsLinksBody{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -25px;
  margin-top: 0;
}

.SkillsLinks{
  height: 20px;
  width: 90px;
  display: block;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: var(--secondary-text-color);
}

.SkillsLinks a{
  text-decoration: none;
  color: var(--not-background-color);
}

.SkillsLinks:hover {
  background-color: var(--primary-text-color);
}

/* ////////////////////////////////////////////////// */
/* // zone du  Projetcs Card Generator */
.ProjectsCards{
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 19%;
}

.Card{
  display: block;
  opacity: 0;
  text-decoration: none;
  background-color: var(--element-background-color);
  border: 1px solid var(--border-color);
  border-radius: 15px;
  width: 340px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: 0.2s;
}


.Card:hover{
  pointer-events:auto;
  background-color:  var(--element-howevered-color);
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.ProjectsCardTitle{
  color: var(--secondary-text-color);
  text-align: start;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 20px;
}

.ProjetcsCardText {
  width: 300px;
  transition: 0s;
  color: var(--primary-text-color);
  font-size: 17px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.ProjectsOnScreen{
  animation-name: fadeOut;
  animation-duration: 0.3s; /* Durée de l'animation */
  animation-delay: 0.5s; /* Délai avant le début de l'animation */
  animation-fill-mode: forwards;                
}

/* ////////////////////////////////////////////////// */
/* // zone du SkillsGen */ 

.SkillsGenBody{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SkillsSecBody{
  margin-left: 160px;
  margin-right: 160px;
}

.SkillsSec{
  color: var(--secondary-text-color);
  text-align: center;
  text-wrap: nowrap;
}

.Skill{
  white-space: none;
  color: var(--primary-text-color);
  text-align: start;
  font-size: 18px;
  font-weight: bold;
  margin-left: 15px;
}

.SkillsImg{
  height: 30px;
  width: 30px;
}

.SkillsPair:hover > .SkillsImg{
  height: 32px;
  width: 32px;
}

.SkillsPair{
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
}

.SkillsOnScreen{
  animation-name: fadeOut;
  animation-duration: 0.3s; /* Durée de l'animation */
  animation-delay: 0.5s; /* Délai avant le début de l'animation */
  animation-fill-mode: forwards;                
}

.SkillsPair:not(.SkillsOnScreen):after {
  opacity: 1;
}

/* ////////////////////////////////////////////////// */
/* // zone du SendEmail */ 
.SendEmailBody{
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 450px;
  border: 1px solid var(--border-color);
  background-color: var(--not-background-color);
  border-radius: 15px;
}

.SendEmailPair{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.SendEmailPairA{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto;
}

.SendEmailTitle{
  color: var(--primary-text-color);
  margin-left: 7px;
}

.SendEmailTitleA{
  color: var(--primary-text-color);
  margin-left: 7px;
}

.SendEmailInput{
  height: 40px;
  width: 240px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: 10px;
  color: var(--primary-text-color);
  text-indent: 5px;
  transition: background-color 0.3s ease-in-out, 
              border-radius 0.3s ease-in-out, 
              color 0.3s ease-in-out,
              height 0.3s ease-in-out, /* Si vous souhaitez également animer la hauteur */
              width 0.3s ease-in-out;
}

.SendEmailInput:focus{
  border: none;
  outline: 2px solid var(--secondary-text-color);
}

.SendEmailTextArea{
  height: 130px;
  margin: auto;
  width: 540px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: 10px;
  color: var(--primary-text-color);
  text-indent: 5px;
  resize: none;
  transition: background-color 0.3s ease-in-out, 
              border-radius 0.3s ease-in-out, 
              color 0.3s ease-in-out,
              height 0.3s ease-in-out,
              width 0.3s ease-in-out;
}

.SendEmailTextArea:focus{
  border: none;
  outline: 2px solid var(--secondary-text-color);
}
.SendEmailFormTitle{
  color: var(--secondary-text-color);
  align-self: start;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.Divider{
  border-bottom: 1px solid var(--border-color);
  width: 540px;
  align-self: center;
  margin-bottom: 30px;
}

.SendEmailRow{
  display: flex;
  flex-direction: row;
  justify-content: Center;
  margin-left: 30px;
  margin-right: 30px;
}
.SendSpace{
  width: 90px;
}
.SendEmailButton{
  width: 140px;
  height: 45px;
  margin-left: 4.5%;
  border: 1px solid var(--border-color);
  background-color: var(--element-background-color);
  margin-bottom: 20px;
  color: var(--primary-text-color);
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

.SendEmailButton:hover{
  background-color: var(--element-howevered-color);
}

.SendEmailEnd{
  display: flex;
}

.ErrorText{
  margin-left: 20px;
  color: var(--primary-text-color);
}

/* ////////////////////////////////////////////////// */
/* // zone du responsive */ 
@media (max-width: 1600px) {
  .ProjectsCards{
    margin-left: 7%;
  }
}
@media (max-width: 1200px) {
  .SendEmailBody{
    width: 500px;
    margin-left: 30px;
  }
  .SendEmailInput{
    width: 200px;
  }
  .SendEmailTextArea{
    width: 435px;
  }
  .Divider{
    width: 405px;
  }
  .SendEmailButton{
    margin-left: 30px;
  }
}
@media (max-width: 1000px) {
  .SkillsSecBody{
    margin-left: 90px;
    margin-right: 90px;
  }
}

@media (max-width: 720px) {
  .SendEmailBody{
    width: 360px;
    margin-left: 20px;
  }
  .SendEmailInput{
    width: 120px;
  }
  .SendEmailTextArea{
    width: 300px;
  }
  .Divider{
    width: 320px;
  }
  .SendEmailButton{
    margin-left: 27px;
  }

  .SendEmailFormTitle{
    margin: auto;
  }
  .navbar-nav{
    opacity: 0; 
  }
  .navbar{
    opacity: 0;
    pointer-events: none;
  }
  .hamburger {
    opacity: 1;
  }

  .HamburgerStack{
    opacity: 1;
    pointer-events: all;
  }
  
  .ContactLinksBody1{
    margin-left: 3px;
  }

  .ContactLinksBody2{
    margin-left: 30px;
  }

  .ProjectsCards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .ProjetcsCardText{
    font-size: 16px;
  }
  .ContactLinksBody1{
    width: 370px;
  }
  .ContactLinksBody2{
    width: 370px;
  }
  .SkillsSecBody{
    margin-left: 10px;
    margin-right: 10px;
  }
  .SkillsSec{
    color: var(--secondary-text-color);
    text-align: center;
    text-wrap: nowrap;
    font-size: 20px;
  }
  .Skill{
    white-space: none;
    color: var(--primary-text-color);
    text-align: start;
    font-size: 14px;
    font-weight: bold;
    margin-left: 14px;
  }
  
  .SkillsImg{
    height: 22px;
    width: 22px;
  }
  
  .SkillsPair:hover > .SkillsImg{
    height: 27px;
    width: 27px;
  }


}