/* ////////////////////////////////////////////////// */
/* // zone NavBar */ 
.Test{
  max-height: 40px;
}
.navbar {
    position: fixed;
    z-index: 100;
    right: 0;
    top: 20px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 30px;
    border: 1px solid var(--border-color);
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .nav-item {
    width: 100px;
    height: 40px;
  }
  
  .nav-link {
    width: 100px;
    height: 40px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    background-color: var(--element-background-color);
  }
  
  .nav-link:hover {
    background-color: var(--element-howevered-color);
    transition: 0.2s;
  }

/* ////////////////////////////////////////////////// */
/* // zone du ThemeSwitcher */ 
.switcher{
  position: relative;
  display: inline;
  width: 85px;
  height: 40px;
}
.switcher input {display: none;}

.slider{
  position: absolute;
  cursor: pointer;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--element-background-color);
  border-radius: 18px;
  border: 1px solid var(--border-color);
}

.slider:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  left: 5px;
  bottom: 5px;
  border-radius: 30px;
  transition: 0.4s;
  background-color: var(--secondary-text-color);

}

.slider:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  right: 7.5px;
  bottom: 7.5px;
  background-image: url('../svg/moon.svg');
  background-size: cover;
}

input:checked + .slider::before {
  transform: translateX(43px);
}
input:checked + .slider::after {
  transform: translateX(-42.5px);
  background-image: url('../svg/sun.svg');
}

/* ////////////////////////////////////////////////// */
/* // zone du HamburgerNav */ 

.hamburger{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid var(--border-color);
  background-color: var(--element-background-color);
}

.hamburger:hover{
  background-color: var(--element-howevered-color);
}

.BlurHamburgerContent{
  pointer-events: none;
  position: fixed;
  z-index: 99;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.BlurHamburgerContent.blur-active {
  pointer-events: all;
  opacity: 1;
  right: 0;
}

.HamburgerMenuRow{
  display: flex;
  flex-direction: row;
}

.menu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: -100%; 
  width: 250px;
  height: 100vh;
  background: var(--not-background-color);
}

.menu.open {
  right: 0; /* Fait apparaître le menu */

}

.HamburgerStack.open{
  right: 10px;
  top: 10px;
}

.HamburgerStack{
  opacity: 0;
  pointer-events: none;
  top: 20px;
  right: 20px;
  position: fixed;
}

.HamburgerStyle{
  pointer-events: none;
  position: absolute;
  top: 7.5px;
  right: 10px;
}

.HamburgerBarre{
  pointer-events: none;
  margin-top: 4.5px;
  margin-bottom: 4.5px;
  width: 20px;
  height: 2px;
  background-color: var(--secondary-text-color);
  border-radius: 15px;
  transition: 0s;
}

.HamburgerBarreL{
  margin-top: 10px;
  pointer-events: none;
  width: 20px;
  height: 2px;
  margin-top: 4.5px;
  margin-bottom: 4.5px;
  background-color: var(--secondary-text-color);
  border-radius: 15px;
}
.HamburgerBarreR{
  width: 20px;
  height: 2px;
  margin-top: 4.5px;
  margin-bottom: 4.5px;
  background-color: var(--secondary-text-color);
  border-radius: 15px;

}

.HamburgerBarreL.open{
  position: fixed;
  z-index: 102;
  transform: rotate(-45deg);
  margin-top: 11px;
  margin-bottom: 0;
}

.HamburgerBarreR.open{
  position: fixed;
  z-index: 101;
  transform: rotate(45deg);
  margin-top: 12px;
  margin-bottom: 0;
}

.HamburgerBarre.open{
  visibility: hidden;
}

.HamburgerContentDirector{
  margin-top: 60px;
  margin-left: 55px;
}
.HamburgerNavItem {
  width: 120px;
  height: 40px;
  display: block;
}

.HamburgerNavLink {
  width: 120px;
  height: 40px;
  text-decoration: none;
  font-size: 22px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  color: var(--primary-text-color);
}

.HamburgerNavItem:hover > .HamburgerNavLink{
  color: var(--secondary-text-color);
  transition: 0.2s;

}
/* ////////////////////////////////////////////////// */
/* // zone Du contactLinksGenerator */ 

.ContactLinksBody{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -6px;
  height: 70px;
  width: initial;
}

.ContactLinks{
  opacity: 0;
  height: 20px;
  width: 70px;
  display: block;
  text-decoration: none;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: var(--secondary-text-color);
}

.ContactLinks a{
  text-decoration: none;
  color: var(--not-background-color);
}

.ContactLinks:hover {
  background-color: var(--primary-text-color);
}
/* ////////////////////////////////////////////////// */
/* // zone Du contactLinksGenerator */ 

.SkillsLinksBody{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -25px;
  height: 70px;
}

.SkillsLinks{
  height: 20px;
  width: 80px;
  display: block;
  margin-left: 6px;
  margin-right: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: var(--secondary-text-color);
}

.SkillsLinks a{
  text-decoration: none;
  color: var(--not-background-color);
}

.SkillsLinks:hover {
  background-color: var(--primary-text-color);
}

/* ////////////////////////////////////////////////// */
/* // zone du  Projetcs Card Generator */
.ProjectsCards{
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 17%;
}

.Card{
  display: block;
  text-decoration: none;
  background-color: var(--element-background-color);
  border: 1px solid var(--border-color);
  border-radius: 15px;
  width: 340px;
  height: 260px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: 0.2s;
}

.Card:hover{
  pointer-events:painted;
  background-color:  var(--element-howevered-color);
  width: 350px;
  height: 270px;
}

.ProjectsCardTitle{
  color: var(--secondary-text-color);
  text-align: start;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 20px;
}

.ProjetcsCardText {
  width: 300px;
  transition: 0s;
  color: var(--primary-text-color);
  font-size: 17px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
}

.Space{
  padding: 10px;
}

/* ////////////////////////////////////////////////// */
/* // zone du SkillsGen */ 

.SkillsGenBody{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 3%;
}
.SkillsSecBody{
  margin-left: 150px;
  margin-right: 150px;
}

.SkillsSec{
  color: var(--secondary-text-color);
  text-align: center;
}

.Skill{
  color: var(--primary-text-color);
  text-align: start;
  font-size: 18px;
  font-weight: bold;
  margin-left: 3%;
}

/* ////////////////////////////////////////////////// */
/* // zone du responsive */ 
@media (max-width: 1600px) {
  .ProjectsCards{
    margin-left: 8%;
  }
}

@media (max-width: 720px) {
  .navbar-nav{
    opacity: 0; 
  }
  .navbar{
    opacity: 0;
    pointer-events: none;
  }
  .hamburger {
    opacity: 1;
  }

  .HamburgerStack{
    opacity: 1;
    pointer-events: all;
  }
  
  .ContactLinksBody{
    margin-left: -23px;
  }

  .ProjectsCards{
    margin-left: 1%;
  }

  .ContactLinksBody{
    width: 400px;
  }
}