/* accueil Image*/
.App-logo {
    margin-left: -70px;
    margin-top: -100px;
    rotate: 45deg;
    height: 190px;
    opacity: 0.3 ;
  }
  .profilPicBig {
    margin-top: 50px;
    margin-right: 2%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 150px;
    border: 3px solid var(--border-color);
  }

@media (max-width: 1000px) {
  .profilPicBig {
    height: 220px;
    width: 220px;
    margin-top: 40px;
    object-fit: cover;
    border-radius: 150px;
    border: 3px solid var(--border-color);
  }
}

@media (max-width: 720px) {
  .profilPicBig {
    height: 130px;
    width: 130px;
    margin-top: 55px;
    object-fit: cover;
    border-radius: 150px;
    border: 3px solid var(--border-color);
  }
  .App-logo{
    height: 120px;
  }
}
/* fin accueil Image */