.App-logo {
    margin-left: 15%;
    height: 190px;
    opacity: 0.3 ;
  }
  .homePresentationStack {
    position: relative;
    height: 300px;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .homePresentationRow {
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 120px;
    margin-bottom: 0px;
  }

  .profilPicBig {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 150px;
    margin-right: 10%;
    border: 3px solid var(--border-color);
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  