.App-logo {
    margin-left: 15%;
    height: 190px;
    opacity: 0.3 ;
  }
  .homePresentationStack {
    position: relative;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .homePresentationRow {
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 120px;
    margin-bottom: 0px;
  }

  .profilPicBig {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 150px;
    border: 3px solid var(--border-color);
  }
  .GlobalHome{
    margin: auto;
    width: 1300px;
  }

  @media (max-width: 1300px) {
    .GlobalHome{
      margin: auto;
      width: 1000px;
    }
}

@media (max-width: 1000px) {
  .GlobalHome{
    margin: auto;
    width: 710px;
  }
  .profilPicBig {
    height: 220px;
    width: 220px;
    margin-top: 40px;
    object-fit: cover;
    border-radius: 150px;
    border: 3px solid var(--border-color);
  }
}

@media (max-width: 720px) {
  .GlobalHome{
    margin: auto;
    width: 380px;
  }
  .profilPicBig {
    height: 130px;
    width: 130px;
    margin-top: 55px;
    object-fit: cover;
    border-radius: 150px;
    border: 3px solid var(--border-color);
  }
  .homePresentationRow{
    height: 190px;
  }
  .App-logo{
    height: 120px;
  }
}