/* Accueil */
  .homePresentationStack {
    position: relative;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .homePresentationRow {
    height: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 120px;
    margin-bottom: 0px;
  }
  .GlobalHome{
    margin: auto;
    width: 1300px;
  }

  @media (max-width: 1300px) {
    .GlobalHome{
      margin: auto;
      width: 1000px;
    }
}

@media (max-width: 1000px) {
  .GlobalHome{
    margin: auto;
    width: 710px;
  }
}

@media (max-width: 720px) {
  .GlobalHome{
    margin: auto;
    width: 380px;
  }
  .homePresentationRow{
    height: 190px;
  }
}
/* fin accueil */

/* Hamburger page */
.HamburgerStack{
    top: 20px;
    right: 0px;
    position: fixed;
}

.HamburgerStyle{
    pointer-events: none;
    position: absolute;
    top: 7.5px;
    right: 40px;
}

.HamburgerBarre{
    pointer-events: none;
    margin-top: 4.5px;
    margin-bottom: 4.5px;
    width: 20px;
    height: 2px;
    background-color: var(--secondary-text-color);
    border-radius: 15px;
}
/* fin Hamburger page */
