/* Accueil */
  .homePresentationStack {
    position: relative;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .homePresentationRow {
    height: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 120px;
    margin-bottom: 0px;
  }
  .GlobalHome{
    margin: auto;
    width: 1300px;
  }

  @media (max-width: 1300px) {
    .GlobalHome{
      margin: auto;
      width: 1000px;
    }
}

@media (max-width: 1000px) {
  .GlobalHome{
    margin: auto;
    width: 710px;
  }
}

@media (max-width: 720px) {
  .GlobalHome{
    margin: auto;
    width: 380px;
  }
  .homePresentationRow{
    height: 190px;
  }
}
/* fin accueil */

/* Hamburger page */
.HamburgerMenuRow{
    display: flex;
    flex-direction: row;
}
.BlurHamburgerContent{
    position: fixed;
    z-index: 99;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}
.menu {
    position: fixed;
    z-index: 100;
    top: 0;
    right: -100%; 
    width: 250px;
    height: 100vh;
    background: var(--element-background-color);
    transition: right 0.3s ease; 
}

.menu.open {
    right: 0; /* Fait apparaître le menu */
}

.BlurHamburgerContent.blur-active {
    right: 0;
    opacity: 1;
}

.HamburgerStack.open{
    right: 10px;
    top: 10px;
}

.HamburgerStack{
    top: 20px;
    right: 20px;
    position: fixed;
}

.HamburgerStyle{
    pointer-events: none;
    position: absolute;
    top: 7.5px;
    right: 10px;
}

.HamburgerBarre{
    pointer-events: none;
    margin-top: 4.5px;
    margin-bottom: 4.5px;
    width: 20px;
    height: 2px;
    background-color: var(--secondary-text-color);
    border-radius: 15px;
}
/* fin Hamburger page */
