/* Accueil */
  .homePresentationStack {
    opacity: 0;
    position: relative;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .homePresentationRow {
    height: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 120px;
    margin-bottom: 0px;
  }
  .GlobalHome{
    margin: auto;
    width: 1300px;
  }

  .HomeCards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 3%;
  }

  /* projects */

  @media (max-width: 1300px) {
    .GlobalHome{
      margin: auto;
      width: 1000px;
    }
}

@media (max-width: 1000px) {
  .GlobalHome{
    margin: auto;
    width: 710px;
  }
}

@media (max-width: 720px) {
  .GlobalHome{
    margin: auto;
    width: 380px;
  }
  .homePresentationRow{
    height: 190px;
  }
}

/* Hamburger page */

/* fin Hamburger page */
