.monText{
    font-size: 17px;
    font-weight: bold;
    color: var(--primary-text-color);
}

/* Accueil specific text */
.homePresentation {
    position: absolute;
    left: 15%;
    top: 0;
}

.homeHello{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    font-size: 30px;
    color: var(--border-color);
}

.homeName{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    flex-direction: row;
    font-size: 100px;
    color: var(--border-color);
}