.monText{
    font-size: 17px;
    font-weight: bold;
    color: var(--primary-text-color);
}

/* Accueil specific text */
.homePresentation {
    position: absolute;
    left: 15%;
    top: 0;
}

.homeHello{
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    font-size: 30px;
    color: var(--secondary-text-color);
}

.homeName{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    flex-direction: row;
    font-size: 100px;
    color: var(--secondary-text-color);
}

.homeName2{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3%;
    flex-direction: row;
    font-size: 100px;
    color: var(--secondary-text-color);
}

.homeTextPr{
    text-align: start;
    flex-direction: row;
    font-size: 25px;
    color: var(--primary-text-color);
}

.TextLength{
    margin-left: 40px;
    width: 600px;
}

@media (max-width: 720px) {
    .homeHello {
        font-size: 15px;
    }
    .homeName{
        font-size: 50px;
        margin-left: 10%;
    }
    .homeName2{
        font-size: 50px;
        margin-left: 7%;
    }
    .homeTextPr{
        font-size: 12.5px;
    }
    .TextLength{
        margin-left: 35px;
        width: 250px;
    }
}