@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');
@import url('css/theme.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 2.442rem; /* 39.04px */}

h2 {font-size: 1.954rem; /* 31.2px */}

h3 {font-size: 1.563rem; /* 24.96px */}

h4 {font-size: 1.250rem; /* 20px */}

h5 {font-size: 1.000rem; /* 16px */}

small {font-size: 0.640rem; /* 10.24px */}